h1 {
  font-family: 'Lato','Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #F2C063;
  text-align: center;
}
h2{
  color: #F2E3D0;
  text-align: center;
  font-family: 'Josefin Sans';
}


body {
  padding: 10px;
  background: #4F5559;
 }

 body p {
  font-family: 'Josefin Sans','Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #C5D1D9;
  font-size: 40px;
  margin-top: 25%;
  text-align: center;
 }

 footer div {
  color: #F2C063;
  text-align: center;
  min-height: 100%;
}

 footer div a {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #C5D1D9;
    font-family: 'Grand Hotel','Lucida Grande','sans-serif';
 }

footer {
    margin-top: 100%;
}




/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
