html {
  background-image: url(waterfall.jpg); 
  min-height:100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.title {
  font-family: 'Lato','Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: left;
  padding-left: 20px;
}

h2 {
  text-align: left;
  font-family: 'Josefin Sans';
  padding-left: 20px;
}

.contact-me {
  margin-top: 100px;
  padding: 10px;
}

.contact-me p {
  color: white;
  /*#F2E3D0;*/
  font-family: 'Grand Hotel','Lucida Grande', sans-serif;
  font-size: 60px;
}

 body p {
  font-family: 'Josefin Sans','Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
 }

.icons {
 font-size: 50px;
}

.icons img {
  width: 100px;
  height: 100px;
}

.theme-invert .title,
.theme-invert .subtitle,
.theme-invert .tagline { 
  color: white;
}

.theme-invert .tagline { 
 text-shadow: 1px 1px 1px #000; 
 font-size: 1.6em;
 }

.theme-invert .btn-default {
  background: rgba(0,0,0,.6);
}
.theme-invert .btn-default:hover,
.theme-invert .btn-default:focus,
.theme-invert .btn-default:active,
.theme-invert .btn-default.active {
  background: rgba(0,0,0,.8);
  color:#fff;
}

.theme-invert .navbar-toggle .icon-bar {
  background: white;
}
.theme-invert .mainmenu .dropdown-menu a { 
  color: white;
  font-size: 1em;
}

.theme-invert .mainmenu .dropdown-menu a:hover { 
  color: white;
  font-size: 1em;
}

.theme-invert .mainmenu .dropdown-menu a:focus { 
  background: rgba(0,0,0,.6);
}

.thumbnail .caption p {
  font-size: 1.5em;
  color: #575757;
}

 /*footer div {
  text-decoration: none;
  color: #F2C063;
  text-align: center;
  min-height: 100%;
}

 footer div a {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #C5D1D9;
  font-family: 'Grand Hotel','Lucida Grande','sans-serif';
 }  

footer {
    margin-top: 70%;
    text-decoration: none;
}*/




/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
